html
  head
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T', crossorigin='anonymous')
    // #region datatables files
    link(rel='stylesheet', type='text/css', href='//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css')
    script(src='//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js')
    script.
      $(document).ready(function() {
      var t = $('#restable').DataTable();
      $("#btn1").click(function(){
      $.ajax({
      type: "GET",
      url: "api/users/",
      // data:{
      //   id: $("#index").val()
      // }
      }).done(function(data){
      //  console.log("Response is:"+data.id+"-"+data.name);
      $.each(data, function(item, obj) {
      console.log("Response is:"+obj.id+"-"+obj.name);
      t.row.add(
      [ obj.id,
      obj.name
      ]).draw(false);
      });
      });
      })
      });
  body
    input#index(type='text')
    button#btn1(type='button')  GET 
    div(id='result area')
    table#restable
      thead
        tr
          th ID
          th NAME
