<!doctype html>
<html lang="en">

<head>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script
  src="http://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<link rel="stylesheet" src="css/style.css">
<script src="js/countrypicker.js"></script>




</head>

<body class="container mt-4">
    

        
        <!--MDB Forms-->
        <div class="container mt-4">

       

            <!-- Grid row -->
            <div class="row">
                <!-- Grid column -->
                <div class="col-md-6 mb-4">
                <form action="/api/signin/" method="POST">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="text-center default-text py-3"><i class="fa fa-lock"></i> Login:</h3>
                            <!--Body-->
                            <div class="md-form">
                                <i class="fa fa-envelope prefix grey-text"></i>
                                <input type="text" id="defaultForm-email" class="form-control" name="username">
                                <label for="defaultForm-email">Your email</label>
                            </div>
                            <div class="md-form">
                                <i class="fa fa-lock prefix grey-text"></i>
                                <input type="password" id="defaultForm-pass" class="form-control" name="pwd">
                                <label for="defaultForm-pass">Your password</label>
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-default waves-effect waves-light">SIGN IN</button>
                            </div>
                        </div>
                    </div>
                </form>
                </div>
         
               
                    
                <div class="col-md-6 mb-4">
                        <div class="card">
                            <div class="card-body">
                                <!-- Form register -->
                                <form action="/api/registeruser/" , method="POST">
                                    <h2 class="text-center font-up font-bold deep-orange-text py-4">Sign up</h2>
                                    <div class="md-form">
                                            <label for="orangeForm-name3">Name</label>
                                        <i class="fa fa-user prefix grey-text"></i>
                                        <input type="text" id="orangeForm-name3" class="form-control" name="name">
                                       
                                    </div>
                                    <div class="md-form">
                                            <br>
                                            <label for="orangeForm-name3">Country of Birth</label>
                                         
                                            <select class="form-control selectpicker countrypicker" name="birthcountry" data-default="India"></select>                                           
                                    </div>

                                    <div class="md-form">
                                            <br>
                                            <label for="orangeForm-name3">Country of Residency</label>
                                          
                                            <select class="form-control selectpicker countrypicker" name="residencycountry" data-default="Australia"></select>
                                           
                                    </div>


                                    <div class="md-form">
                                            <br>
                                            <label for="orangeForm-email3">Email</label>
                                        <i class="fa fa-envelope prefix grey-text"></i>
                                        <input type="email" id="orangeForm-email3" class="form-control" name="email">
                                       
                                    </div>

                                    <div class="md-form">
                                            <br>
                                            <label for="orangeForm-email3">Date Of Birth</label>
                                        <i class="fa fa-envelope prefix grey-text"></i>
                                        <input type="date" id="orangeForm-email3" class="form-control" placeholder="Date of Birth" name="dob">
                                       
                                    </div>


                                    <div class="md-form">
                                            <br>
                                            <label for="orangeForm-pass3">Password</label>
                                        <i class="fa fa-lock prefix grey-text"></i>
                                        <input type="password" id="orangeForm-pass3" class="form-control" name="password">
                                       
                                    </div>
                                    <div class="md-form">
                                            <br>
                                            <label for="orangeForm-pass3">Retype Password</label>
                                            <i class="fa fa-lock prefix grey-text"></i>
                                            <input type="password" id="orangeForm-pass3" class="form-control" name="repassword">
                                           
                                        </div>
                                    <div class="text-center">
                                        <button type="submit" class="btn btn-deep-orange"><b>REGISTER</b><i class="fa fa-angle-double-right pl-2" aria-hidden="true"></i></button>
                                    </div>
                                </form>
                                <!-- Form register -->
                            </div>
                        </div>
                    </div>
                
                </div>
    
    
        <!-- MDB core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.1/js/mdb.min.js"></script>
  
</body>



</html>