doctype html
head
  meta(charset='utf-8')
   //-meta(name='viewport', content='width=device-width, initial-scale=1.0')
  title Satsang Oceana
  //script(src='https://code.jquery.com/jquery-3.3.1.js')
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css')
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css')
  link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700')
  script(src='http://code.jquery.com/jquery-3.3.1.min.js', integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=", crossorigin='anonymous')
  link(rel='stylesheet', href='css/styles.min.css')
  link(rel='stylesheet', src='css/style.css')
  //- script(src='js/countrypicker.js')
  //- script(src='js/jquery.tableedit.min.js')
  script.
        $(document).ready(function() {
             $("#loginform").hide();
             $("#registration-form").hide();
             $("#forgotpass").hide();
             $("#btnRegistration").css({"background-color":"gray","color":"white"});
             $("#btnlogin").css({"background-color":"gray","color":"white"});


               $("#btnlogin").click(function(){
                 if($("#loginform").is(":visible")){
                    $("#loginform").hide();
                    $("#btnlogin").css({"background-color":"gray","color":"white"});
                 }
                 else{
                    $("#loginform").show();
                    $("#btnlogin").css("background-color","green");
                    $("#btnRegistration").css({"background-color":"gray","color":"white"});
                 
                  // #loginform
                 }
                 
                  $("#registration-form").hide();
                   $("#forgotpass").hide();
                 // $("#coverpic").hide();
                  

               })

                $("#forgotpasswordlink").click(function(){
                
                 $("#forgotpass").show();
                  $("#registration-form").hide();
                   $("#loginform").hide();
                 // $("#coverpic").hide();
                  

               })

               $("#btnRegistration").click(function(){
                 if($("#registration-form").is(":visible")){
                    $("#registration-form").hide();
                    $("#btnRegistration").css({"background-color":"gray","color":"white"});
                 }
                 else{
                    $("#registration-form").show();
                     $("#btnRegistration").css("background-color","green");
                     $("#btnlogin").css({"background-color":"gray","color":"white"});
                  // #loginform
                 }
                  $("#loginform").hide();
                   $("#forgotpass").hide();
                 
                 // $("#coverpic").hide();
                 
                

               })
             
            });
  
  div
  
    //-nav.navbar.navbar-dark.navbar-expand-md.navigation-clean-search
    .container-fluid(style="text-align:center;background-color:lightskyblue;padding-top:1%;padding-bottom:1%")
        div
         h1
          |Satsang Oceania
         
        div.row
            .col
                 a.btn#btnlogin(style="display:flex;justify-content:center")
                  strong
                   u
                    | Login
            .col
                a.btn#btnRegistration(style="display:flex;justify-content:center")
                  strong
                   u
                    |Register
                   
  
  div.container(style="padding-top:2%")
          div.card#loginform(style="border:5px solid black")
            div.card-header(style="display:flex;justify-content:center")
             strong
              u
                |LOGIN
            div.card-body
               
                  form(action='/api/signin/', method='POST')
                    .form-group
                      label(for='email') Email:
                      input#email.form-control(type='email', placeholder='Enter email', name='username',required)
                    .form-group
                      label(for='pwd') Password:
                      input#pwd.form-control(type='password', placeholder='Enter password', name='pwd',required)
                    .form-group
                      a#forgotpasswordlink(href="#", name='forgotpass')
                        h5|  Forgot Password
                    .form-group
                      button.btn.btn-success(type='submit') Login
          div.card#forgotpass(style="border:5px solid black")
            div.card-header(style="display:flex;justify-content:center")
               strong
                u
                  h3|FORGOT PASSWORD
            div.card-body
                    span(style='display:flex;justify-content:center')
                     strong| ENTER ANY ONE OF BELOW
                    form(action='/forgotpassword', method='get')
                      .form-group
                        label(for='emailfp') Enter your email:
                        input#emailfp.form-control(type='email', placeholder='Enter email', name='username')
                      .form-group
                        label(for='fccodefp') Enter Family Code:
                        input#fccodefp.form-control(type='text', placeholder='Enter Family Code Number', name='fccode')
                     
                      .form-group
                        button.btn.btn-success(type='submit') SUBMIT
                     
          div.card#registration-form(style="border:5px solid black")
              div.card-header(style="display:flex;justify-content:center")
               strong
                u
                  |REGISTER
              div.card-body
               
                  form(action='/api/registeruser/', method='POST')
                      .form-wrapper
                        br
                        label(for='orangeForm-name3',style='color:blue;') Name
                        input.form-control(type='text' ,name='name')
                        i.zmdi.zmdi-account
                      
                      .form-wrapper
                        br
                        label(for='orangeForm-name3',style='color:blue;') Ritwik Name
                        input.form-control(type='text',name='ritwikname')
                        i.zmdi.zmdi-email
                      .form-wrapper
                        br
                        label(for='orangeForm-name3',style='color:blue;') Email Address
                        input.form-control(type='text',name='email')
                        i.zmdi.zmdi-email

                      .form-wrapper
                        br
                        label(for='orangeForm-name3',style='color:blue;') Enter Password
                        input.form-control(type='password', placeholder='Password' name='password')
                        i.zmdi.zmdi-lock
                      .form-wrapper
                        br
                        label(for='orangeForm-name3',style='color:blue;') Confirm Password
                        input.form-control(type='password', placeholder='Confirm Password', name='repassword')
                        i.zmdi.zmdi-lock
                        br
                      button.btn-success(style='margin-left: 30%;')
                        |Register
                        i.zmdi.zmdi-arrow-right 
                      p
                        error= error
  div#error
         p
          h3(style="color:red;text-align:center")
            error= error                      
  div.jumbotron#coverpic
      .row
        .col
          img.responsive(src='images/thakurcoverpic.jpg', style='height:auto;width:100%;')
          //-h1.visible(style='margin-top:10px;margin-bottom:0px;margin-left:100px;height:100px;width:800px;background-color:#efe9f2;padding-left:200px;padding-top:5%;color:rgb(16,15,15);') &nbsp; &nbsp; &nbsp; &nbsp;ISTAVRITY PORTAL
        
      
          
      h3(style="text-align:center;background-color:gray;color:white;padding-top:1%;padding-bottom:1%")
              
               |ISTAVRITY PORTAL
script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.bundle.min.js')
