doctype html
head
 block head
  //-title Satsang Oceania
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js')
  link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.7.0/css/all.css', integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ', crossorigin='anonymous')

 
  block scripts
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700')
    link(rel='stylesheet', href='css/headerfooter.css')

    link(rel='stylesheet', href='css/styles.css')
    //- link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T', crossorigin='anonymous')
    script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')
   
    script(src='js/actions.js')
    
    script(src='https://code.jquery.com/jquery-3.3.1.js')
    

body(style='background-color: white;')
  block headerarea

    div
      nav.navbar.navbar-default.navigation-clean-button(style='font-weight:bold;background-color:rgb(8,8,8);color:rgba(202,228,228,0.97);/*padding-right:20%;*/')
        .container
          .navbar-header
            a.navbar-brand.navbar-link(href='#')  
            button.navbar-toggle(data-toggle='collapse', data-target='#navcol-1', aria-expanded='true')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
          #navcol-1.navbar-collapse.collapse.in(aria-expanded='true', style='')
            ul.nav.navbar-nav.ml-auto
              li.nav-item(role='presentation')
                a.nav-link.text-white.active(href='/api/members')
                  i.fas.fa-home(style='padding-right:3px')
                  | HOME
              li.nav-item(role='presentation')
                a.nav-link.text-white.active(href='#exampleModalLong', data-toggle='modal', data-target='#exampleModalLong')
                  i.fas.fa-user-plus(style='padding-right:3px')
                  | Add Members
              li.nav-item(role='presentation')
                a.nav-link.text-white.active(href='/api/istavrity', style='color:#ffffff;')
                  i.fas.fa-hand-holding-usd(style='padding-right:3px')
                  | Deposit Istavrity
              li.nav-item(role='presentation')
                a.nav-link.active(href='/logout', style='color:#ffffff;')
                  i.fas.fa-sign-out-alt(style='padding-right:3px')
                  | SignOut

      div
        .container
          .row(style="margin-top:2%;")
            .col-md-6
              span(style='font-size:20px;margin-left:1%;')
                strong WELCOME &nbsp;:
                user= username
            .col-md-6
              span(style='font-size:18px;margin-left:0px;')
                strong FAMILY CODE NUMBER: &nbsp;
                FCCODE= fcnum
   
//Modal    
#exampleModalLong.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLongTitle', aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5#exampleModalLongTitle.modal-title Members
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') &times;
        .modal-body
          form(action='/api/members/', method='POST')
            .md-form
              label(for='orangeForm-name3') Name
              i.fa.fa-user.prefix.grey-text
              input#orangeForm-name3.form-control(type='text', name='name')
            .md-form
              label(for='orangeForm-name3') Ritwik Name
              i.fa.fa-user.prefix.grey-text
              input#orangeForm-name3.form-control(type='text', name='ritwikname')
            
            .md-form
              br
              button#addmember.btn.btn-primary(type='submit') Save changes
        .modal-footer
          button.btn.btn-secondary(type='button', data-dismiss='modal') Close

block content
  

block footer
  .mb-auto.footer-clean(style='position:fixed;bottom:0;background-color:#37434d;color:#ffffff;;width:100%;')
    footer(style='color:rgb(24,78,142);')
      .container(style='background-color:rgba(33,37,41,0);color:rgb(238,242,247);height:100%;')
        .row.justify-content-center
          .col-sm-4.col-md-3.item
            h4 Contact Us               