extends template

block content
  

  br
  
  div
    br
    br
    br
    span(style='font-size:30px;margin-left:40%;margin-top:10px;')
      strong|FAMILY MEMBERS
    br
    br
    br
    table#restable.stripe.table.table-striped.table-bordered
          thead
            tr(style='background-color: #6d7993;')
              th FC_CODE
              th NAME
              th Date-Of-Birth
              th Country-Of-Birth
              th Country-of-Residence
              th Passport#
              th Email
              th Phone Number