extends template

block content
  

  br
  button.btn.btn-primary(type='button', data-toggle='modal', data-target='#exampleModalLong')
    | Add Family Members
  // Modal
  #exampleModalLong.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLongTitle', aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5#exampleModalLongTitle.modal-title Members
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') &times;
        .modal-body
          form(action='/api/members/', method='POST')
            .md-form
              label(for='orangeForm-name3') Name
              i.fa.fa-user.prefix.grey-text
              input#orangeForm-name3.form-control(type='text', name='name')
            .md-form
              br
              label(for='orangeForm-name3') Country of Birth
              select.form-control.selectpicker.countrypicker(name='birthcountry', data-default='India')
            .md-form
              br
              label(for='orangeForm-name3') Country of Residency
              select.form-control.selectpicker.countrypicker(name='residencycountry', data-default='Australia')
            .md-form
              br
              label(for='orangeForm-email3') Email
              i.fa.fa-envelope.prefix.grey-text
              input#orangeForm-email3.form-control(type='email', name='email')
            .md-form
              br
              label(for='orangeForm-email3') Date Of Birth
              i.fa.fa-envelope.prefix.grey-text
              input#orangeForm-email3.form-control(type='date', placeholder='Date of Birth', name='dob')
            .md-form
              br
              button#addmember.btn.btn-primary(type='submit') Save changes
        .modal-footer
          button.btn.btn-secondary(type='button', data-dismiss='modal') Close
  div
    br
    br
    br
    span(style='font-size:30px;margin-left:40%;margin-top:10px;')
      strong|FAMILY MEMBERS
    br
    br
    br
    table#restable.stripe.table.table-striped.table-bordered
          thead
            tr(style='background-color: #6d7993;')
              th FC_CODE
              th NAME
              th Date-Of-Birth
              th Country-Of-Birth
              th Country-of-Residence
              th Passport#
              th Email
              th Phone Number